<!-- <app-emir></app-emir> -->
<!-- <app-if-conditions></app-if-conditions>   
<app-object-interfaces></app-object-interfaces>
<app-array-objects></app-array-objects> -->
<!-- <app-switch></app-switch> -->
<!-- <app-events></app-events> -->
<!-- <app-forms></app-forms> -->
<!-- <app-forms-objects-validate></app-forms-objects-validate>-->
<!-- <app-srvc-cmpt></app-srvc-cmpt> -->
<!-- <app-observable-exmpl></app-observable-exmpl> -->
<!-- <app-http-module></app-http-module> -->
<!-- <app-post-data></app-post-data> -->
<router-outlet>
    <app-nav></app-nav>
</router-outlet>

