<nav class="navbar navbar-inverse">
  <div class="container-fluid">
    <div class="navbar-header">
      <a href="#" class="navbar-brand">Emir Hazir</a>
    </div>
    <ul class="nav navbar-nav">
      <li><a [routerLink]="['/']">Home</a></li>
      <li><a [routerLink]="['/profiles']">Profiles</a></li>
      <li><a [routerLink]="['/forms']">Forms</a></li>
      <li><a [routerLink]="['/forms-objects']">Forms Object</a></li>
      <li><a [routerLink]="['/http-module']">Http Module</a></li>
      <li><a [routerLink]="['/data-play']">Play data</a></li>
      <li><a href="#">Page 3</a></li>
    </ul>
  </div>
</nav>